<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Générateur WireGuard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Générateur WireGuard</h1>

    <div style="text-align:right; margin-bottom: 20px;">
        <span>Connecté en tant qu'admin</span>
        <a href="/logout" style="margin-left: 15px; color: red;">Se déconnecter</a>
    </div>

    <!-- Formulaire utilisateur -->
    <form method="POST" action="/create-user">
        <label>Prénom</label>
        <input type="text" name="firstname">
        <label>Nom</label>
        <input type="text" name="lastname">
        <label>Entreprise</label>
        <input type="text" name="nputEntreprise">
        <button type="submit">Créer l'utilisateur</button>
    </form>

    <!--Le message de succés-->
    {% for categorie, message in get_flashed_messages(with_categories=true) %}
    <p id="flash-message" class="{{ categorie }}">{{ message }}</p>
    {% endfor %}

    <!-- Les conditions -->
    {% if erreur %}
    <p id="message-erreur" style="color:red;">
        {{ erreur }}
    </p>
    {% endif %}

    <!-- Formulaire tunnel -->
    <form method="POST" action="/create-tunnel">
        <label>Utilisateur</label>
        <select name="user_id">
        <option value="" disabled selected>— Sélectionner un utilisateur —</option>
        {% for user in users %}
        <option value="{{ user[0] }}">
            {{ user[1] }} {{ user[2] }} — {{ user[3] }}
        </option>
        {% endfor %}
    </select>

        <label>Adresse IP</label>
        <input type="text" name="adresse" placeholder="0.0.0.0/32" required>

        <label>DNS</label>
        <input type="text" name="DNS" placeholder="1.1.1.1" required>

        <label>Public Key serveur</label>
        <input type="text" name="public_key" placeholder="Base64… (44 caractères)" required>

        <label>Allowed IPs</label>
        <input type="text" name="allowedIPs" placeholder="10.10.10.0/24" required>

        <label>Endpoint</label>
        <input type="text" name="Endpoint" placeholder="IP_ou_nom_de_domaine:port" required>

        <button type="submit">Créer le tunnel</button>
    </form>

    <!-- La barre de recherche -->
<form method="GET" action="/">
    <label for="search-input">Rechercher</label>
    <input 
        type="text" 
        id="search-input"
        name="recherche"
        placeholder="Rechercher par nom, prénom, entreprise..."
        value="{{ recherche }}">
    <button type="submit">Rechercher</button>
    <a href="/">Effacer</a>
</form>

</div>

    <!-- Tableau des tunnels -->
    <table>
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Adresse</th>
                <th>DNS</th>
                <th>Public Key</th>
                <th>Allowed IPs</th>
                <th>Endpoint</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tunnel in tunnels %}
            <tr>
                <td>
                    {% for user in users %}
                        {% if user[0] == tunnel[1] %}
                            {{ user[2] }} {{ user[1] }} — {{ user[3] }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ tunnel[2] }}</td>
                <td>{{ tunnel[3] }}</td>  
                <td>{{ tunnel[5] }}</td>  
                <td>{{ tunnel[6] }}</td>   
                <td>{{ tunnel[7] }}</td>
                <td>
                    <a href="/download/{{ tunnel[0] }}">Télécharger</a>
                    <a href="/delete/{{ tunnel[0] }}" onclick="return confirm('⚠️ Supprimer ce tunnel ? Cette action est irréversible !')">Supprimer</a> 
                    <a href="/?modifier={{ tunnel[0] }}" onclick="return confirm('⚠️ Modifier ce tunnel ?')">Modifier</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Formulaire modifier -->
    {% if tunnel_a_modifier %}
    <h2>Modifier le tunnel</h2>
    <form method="POST" action="/modify/{{ tunnel_a_modifier[0] }}">
        
        <label>Adresse</label>
        <input type="text" name="adresse" value="{{ tunnel_a_modifier[2] }}">

        <label>DNS</label>
        <input type="text" name="DNS" value="{{ tunnel_a_modifier[3] }}">

        <label>Allowed IPs</label>
        <input type="text" name="allowedIPs" value="{{ tunnel_a_modifier[6] }}">

        <label>Endpoint</label>
        <input type="text" name="Endpoint" value="{{ tunnel_a_modifier[7] }}">
        
        <button type="submit">Sauvegarder</button>
        <a href="/">Annuler</a>
    </form>
    {% endif %}

<script src="{{ url_for('static', filename='script.js') }}"></script>

<!-- Pied de page avec mentions légales -->
  <footer>
    <p>© 2026 - Site réalisé par Wiam Nciri</p>
    <p><a href="mentions-legales.html">Mentions légales</a></p>
  </footer>


</body>
</html>
